body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
    flex: 1
}
/* navbar */
.navbar{
    /* height: 5rem; */
    background-color: #fff;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    margin-right: 1rem;
    color: #222222;
}
.f-info-links a:hover{
     text-decoration: underline;
}
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    font-size: 1.2rem;
}
.f-info-socials,.f-info-links,.f-info-brands{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-weight: 600;
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
       width: 100%;
       object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    margin-top: 0.5rem;
}
.listing-link{
    text-decoration: none;
}
/* vard effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


.btns{
    display: flex;
}
.card-img{
    height: 28rem;
    
    object-fit:unset !important;
}
.original-img{
    height: 13rem;
    filter: blur(0.7px);
}
#map{
   height: 50vh;
   width: 100vh;
   margin-bottom: 2rem;
   
}

/* filter */
#filters{
    margin-top: 1rem;
    display: flex;
    line-height: 1.2rem;
    /* align-items: center; */
}
.filter{
margin-right: 1.5rem;
text-align: center;
opacity: 0.6;
}
.filter p{
    font-size: 0.8rem;
}
.filter:hover{
    opacity: 1;
}
.gst{
    display: none;
}
.tax-toggle{
    border:1px solid gray;
    padding: 1rem;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}